body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vsebina {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  background-color: #FFFF99;
  margin-bottom: 1em;
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  margin-bottom: 1em;
  margin-right: 10px;
  background-color: #FFFFCC;
}

#okvir {
  float: right;
  width: 100px;
  height:300px;
  overflow:auto;

}

#seznam-kanalov{
  width:100%;
  height:50%;
}

#seznam-kanalov div {
  
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-uporabnikov{
  width:100%;
  height:50%;
  margin-bottom:1px;
}
#seznam-kanalov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 100%;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#vulgarizmi{
  display:none;
}